<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ .Site.Params.twitter_username }}">

    <meta content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}" name="description">
    <meta name="twitter:description" property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
    <meta property="og:type" content="website">

    {{ if .Params.og_image }}
    <meta property="og:image" content="{{ .Params.og_image | absURL }}">
    <meta property="twitter:image" content="{{ .Params.og_image | absURL }}">
    {{ end }}

    <title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }} - {{ .Site.Params.description }}{{ end }}</title>

    <link rel="stylesheet" href="/vendor/asciinema/asciinema-player.css">
    {{ $cssFile := "home" }}
    {{ if .Params.page_css }}
      {{ $cssFile = .Params.page_css }}
    {{ end }}
    {{ $style := resources.Get (printf "sass/%s.scss" $cssFile) | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
</head>
