<div class="examples">
    <div class="example">
        <div class="example-title">Translate on the fly</div>
        <code class="example-code">$ echo "Hello!" | translate --to German</code>
    </div>
    <div class="example">
        <div class="example-title">Code assistance</div>
        <code class="example-code">$ askrust "How do I create a loop?"</code>
    </div>
    <div class="example">
        <div class="example-title">Natural language</div>
        <code class="example-code">$ How can I sort this JSON file</code>
    </div>
</div>
