<div class="header-showcase-container">
    <div class="header-showcase-item">
      <div class="header-showcase-item-code">
          <div class="header-showcase-code-title">Turn this</div>
          <pre class="header-showcase-code"><span class="hl-yaml-sep">---</span>
<span class="hl-key">input</span>:
  <span class="hl-key">schema</span>:
    <span class="hl-key">container</span>: <span class="hl-type">string</span>, <span class="hl-comment">container name</span>
<span class="hl-yaml-sep">---</span>
Analyze the following logs and let me know if there
are any problems:
<span class="hl-template">{{"{{exec \"docker\" \"logs\" container}}"}}</span></pre>
      </div>
    </div>
    <div class="header-showcase-item">
      <div class="header-showcase-item-code">
          <div class="header-showcase-code-title">Into that</div>
          <pre class="header-showcase-code"><span class="hl-prompt">$</span> translate <span class="hl-flag">--help</span>
<span class="hl-label">Usage:</span> translate <span class="hl-meta">[OPTIONS]</span> <span class="hl-flag">--to</span> <span class="hl-meta">&lt;to&gt;</span>

<span class="hl-label">Options:</span>
<span class="hl-flag">--text</span> <span class="hl-meta">&lt;text&gt;</span>   text to translate. will use stdin if not specified
<span class="hl-flag">--to</span> <span class="hl-meta">&lt;to&gt;</span>       target lang
<span class="hl-flag">--dry</span>          Dry run
<span class="hl-flag">-h</span>, <span class="hl-flag">--help</span>         Print help</pre>
      </div>
    </div>
</div>
